*{
    margin: 0px;
}

#header{
    padding: 10px;
    position:sticky;
    top: 0px;
    background: linear-gradient(45deg,orange,white,green); 
    text-decoration: none;
}

html{
    scroll-behavior:smooth;
}

body{
    text-align:center;
    font-family:'comic sans', sans-serif;
}

.one{
    color:blue;
    height:50px;
    width:450px;
    padding:15px 0px 10px 5px;
    border-radius:75px 0px 75px 0px;
    background:linear-gradient(150deg,orange,white,green);
    box-shadow: 5px 5px 10px 1px;
    margin:40px auto;
    }
    
img{
    
    box-shadow: 4px 4px 15px 2px blue;
    padding: 10px;
    margin:25px 50px;
    border-radius: 15px;
    
}

#footer{
    margin-top: 20px;
    display: flex;
    flex-flow: column;
    gap: 15px;
}

/* h1{
    text-align: center;
    font-size: 50px;
    background: linear-gradient(to left,
            violet,
            indigo,
            blue,
            green,
            yellow,
            orange,
            red);
    -webkit-background-clip: text;
    color: transparent;
} */